<!DOCTYPE html>
<html lang="en">
    <head>
        <title>vigor</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="//brick.freetls.fastly.net/EB+Garamond:400">
        <link rel="stylesheet" href="//brick.freetls.fastly.net/Muli:400">
    </head>

    <body>
        <div id="wrapper"> <!--I'm sorry-->
            <section id="header">
                <a href="/">
                    <div class="logo">
                        vigor
                    </div>
                </a>

                <section id="navbar">
                    <a href="/about">
                        about
                    </a>

                    <a href="/link2">
                        link 2
                    </a>
                </section>
                
            </section>

            {{{ body }}}
            <footer>

            </footer>
        </div>
    </body>
</html>