<!DOCTYPE html>
<html lang="en">
    <head>
        <title>vigor</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="//brick.freetls.fastly.net/EB+Garamond:400">
        <link rel="stylesheet" href="//brick.freetls.fastly.net/Muli:400">
        <meta name="viewport" content="initial-scale=0.5" />
    </head>

    <body>
        <div id="wrapper"> <!--I'm sorry-->
            <section id="header">
                <a href="/">
                    <div class="logo">
                        vigor
                    </div>
                </a>

                <section id="navbar">
                    <a href="https://github.com/shinzlet/vigor">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" alt="github logo">
                    </a>

                    <a href="http://twitter.com/nulljosh">
                        <img src="https://image.flaticon.com/icons/svg/54/54300.svg">
                    </a>
                </section>
                
            </section>

            {{{ body }}}
            <footer>
                <p>Copyright Josh Trommel and Seth Hinz 2019</p>
            </footer>
        </div>
    </body>
</html>