<!DOCTYPE html>
<html lang="en">
    <head>
        <title>vigor</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="//brick.freetls.fastly.net/EB+Garamond:400">
    </head>

    <body>
        <div class="logo">
            <h1>vigor</h1>
        </div>

        {{{ body }}}
        <footer>

        </footer>
    </body>
</html>