<form id="query-area" type="POST" action="/search">
    <div id ="query-block">
        <input type="text" id="textbox" name="query" placeholder="enter your symptoms" required>
        <button type="submit">search</button>
    </div>
</form>

<section id="about">
    Vigor is a search engine that matches your symptoms to a health condition. 
    It aims to avoid overly reactionary results - that is, we don't tell you have cancer if you tell us you have the sniffles.
    <br>
    <br>
    Vigor is proudly made with Domain.com.
</section>