<form id="query-area" type="POST" action="/search">
    <div id ="query-block">
        <input type="text" id="textbox" name="query" placeholder="here's text mommy" required>
        <button type="submit"></button>
    </div>
</form>