<form id="query-area" type="POST" action="/search">
    <div id ="query-block">
        <input type="text" id="textbox" name="query" required>
        <button type="submit"></button>
    </div>
</form>

<section id="about">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio optio omnis enim perspiciatis. Distinctio nisi asperiores accusantium voluptatem voluptate cupiditate officiis aliquam ea laboriosam placeat! Harum odit libero eum magni.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi dolorem consequuntur cupiditate harum enim autem placeat inventore, iure nesciunt quasi praesentium! Ipsa doloribus reiciendis repellendus laboriosam non nulla officiis pariatur.
</section>