<form id="query-area" type="POST" action="/search">
    <div id ="query-block">
        <input type="text" id="textbox" name="query" required>
        <button type="submit"></button>
    </div>
</form>

<p id="search-header">search results</p> 

<section id="results">
    {{#each results}}
        <h1>{{title}}</h1>
        <p>{{{info}}}</p>
    {{/each}}
</section>