<form id="query-area" type="POST" action="/search">
    <div id ="query-block">
        <input type="text" id="textbox" name="query" placeholder="enter your symptoms" required>
        <button type="submit">search</button>
    </div>
</form>

<p id="search-header">search results</p> 

<section id="results">
    {{#each results}}
    <div class="result">
        <p class="title">{{title}}</p>
        <p class="info">{{{info}}}</p>
    </div>
    {{/each}}
</section>