body, html {
  width: 100%;
  height: 100%; }

body {
  background: #FFFBF9;
  font-family: "EB Garamond";
  margin-top: 0;
  padding: 20px;
  overflow: none;
  box-sizing: border-box; }

#wrapper {
  width: 30%;
  margin: 0 auto;
  margin-top: 100px;
  min-width: 500px; }

#header {
  width: 100%;
  margin-bottom: 30px;
  font-size: 48px; }
  #header::after {
    content: " ";
    display: block;
    height: 0;
    clear: both; }
  #header a {
    text-decoration: none;
    color: #032d3c !important; }
  #header div.logo {
    float: left; }
    #header div.logo::before {
      content: '';
      float: left;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background-image: linear-gradient(22.3175deg, #cf1332, #ff4136);
      -webkit-mask-image: url("../assets/logo.svg");
      mask-image: url("../assets/logo.svg");
      margin-right: 0.25em; }
  #header section#navbar a {
    float: right;
    font-size: 24px;
    margin-top: 9px;
    margin-left: 15px; }
    #header section#navbar a img {
      height: 1.5em; }

div#query-block {
  background-color: #FFFBF9;
  width: 100%;
  border-radius: 1em;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 0 auto;
  box-sizing: border-box; }
  div#query-block input#textbox {
    width: 100%;
    background: none;
    outline: none;
    border: none;
    color: #032d3c;
    font-family: 'Muli';
    font-size: 20px;
    padding: 0 4px; }
    div#query-block input#textbox:required {
      box-shadow: none; }
    div#query-block input#textbox::before {
      content: 'Enter symptoms';
      display: block; }
    div#query-block input#textbox::placeholder {
      color: #032d3c;
      opacity: 0.5; }
  div#query-block button[type=submit] {
    height: 2em;
    border-radius: 0.8em;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/6/67/Antu_edit-find-mail.svg"), linear-gradient(22.3175deg, #cf1332, #ff4136);
    background-size: 5em;
    background-repeat: repeat-x;
    background-position: 50%;
    border: none;
    color: white;
    float: right; }

section#about {
  font-size: 20px;
  color: #032d3c;
  font-family: 'Muli';
  text-align: justify;
  margin-top: 30px; }

p#search-header {
  font-size: 30px;
  font-family: 'Muli'; }

section#results div.result {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  padding: 10px 0px;
  border-bottom: 1px rgba(0, 0, 0, 0.2) dashed; }
  section#results div.result p.title {
    font-size: 24px;
    font-family: 'Muli'; }
  section#results div.result p.info {
    font-size: 24px;
    font-family: 'Muli';
    text-indent: 1em; }

footer {
  margin-top: 20px;
  font-family: 'Muli';
  color: #032d3c;
  opacity: 0.5;
  text-align: center; }
