$brand: #fcd7cc;

body {
    background: #f3fdff;
    font-family: "EB Garamond";
}

.logo::before {
    content: '';
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $brand;
}