$brand: #cf1332;
$brand-light: #ff4136;
$brand-angle: 22.3175deg;
$brand-gradient: linear-gradient($brand-angle, $brand, $brand-light);
$background: #FFFBF9;
$font-color: #032d3c;
$big-font: 48px;
$medium-font: 30px;
$small-font: 24px;

body, html {
    width: 100%;
    height: 100%;
}

body {
    background: $background;
    font-family: "EB Garamond";
    margin-top: 0;
    padding: 20px;
    overflow: none;
    box-sizing: border-box;
}

#wrapper {
    width: 30%;
    margin: 0 auto;
    margin-top: 100px;

    min-width: 500px;
}

#header {
    width: 100%;
    margin-bottom: 30px;

    &::after { // Garish clearfix
        content: " ";
        display: block; 
        height: 0; 
        clear: both;
    }

    a {
        text-decoration: none;
        color: $font-color !important; // good css
    }

    font-size: $big-font;

    div.logo {
        float:left;
        &::before {
            content: '';
            float: left;
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background-image: $brand-gradient;
            -webkit-mask-image: url("../assets/logo.svg");
            mask-image: url("../assets/logo.svg");
            margin-right: 0.25em;
        }
    }

    section#navbar {
        a {
            float: right;
            font-size: $small-font;
            margin-top: 9px;
            margin-left: 15px;

            img {
                height: 1.5em;
            }
        }
    }
}

div#query-block {
    background-color: $background;
    width: 100%;
    border-radius: 1em;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px;
    margin: 0 auto;
    box-sizing: border-box;

    input#textbox {
        &:required {
            box-shadow: none;
        }

        &::before {
            content: 'Enter symptoms';
            display: block;
        }

        &::placeholder {
            color: $font-color;
            opacity: 0.5;
        }

        width: 100%;
        background: none;
        outline: none;
        border: none;
        color: $font-color;
        font-family: 'Muli';
        font-size: 20px;
        padding: 0 4px;
    }

    button[type=submit] {
        height: 2em;
        border-radius: 0.8em;
        background: $brand-gradient;
        border: none;
        color: white;
        float: right;
    }
}

section#about {
    font-size: 20px;
    color: $font-color;
    font-family: 'Muli';
    text-align: justify;
    margin-top: 30px;
}

p#search-header {
    font-size: $medium-font;
    font-family: 'Muli';
}

section#results {
    div.result {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
        padding: 10px 0px;
        border-bottom: 1px rgba(0, 0, 0, 0.2) dashed;

        p.title {
            font-size: $small-font;
            font-family: 'Muli';
        }

        p.info {
            font-size: $small-font;
            font-family: 'Muli';
            text-indent: 1em;
        }
    }
}

footer {
    margin-top: 20px;
    font-family: 'Muli';
    color: $font-color;
    opacity: 0.5;
    text-align: center;
}

@media only screen and (orientation: portrait) {
    #wrapper {
        width: 90%;
    }

    footer {
        font-size: $medium-font;
        margin-bottom: 1000px;
    }

    section#about {
        font-size: $medium-font;
    }

    div#query-block {
        padding: none;

        input#textbox {
            font-size: $big-font;
        }
    
        button[type=submit] {
            height: auto;
            width: 100%;
            font-size: $medium-font;
            border-radius: .5em;
        }
    }
}